.App,.as {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  pointer-events: none;
}
.App-log {
  animation: App-logo-spin infinite 6s linear;
  height: 10vmin;
  pointer-events: none;
}
.logo{
  background-color:  #226e75;
  height: 60px;
  width: 100%

}
.btn,.post,.as{
  background-color: rgba(233, 231, 229, 0.623);
  box-shadow: #1bb81b;
  z-index: 40000;
  display: flex;
  justify-content: center;
  width: 100%
}
p{
  font-size: 15px;
  color: red;
}
button{
  height: 35px;
  margin: 5px;
  width: 14%;
  border: none;
  outline: none;
  font-size: 70%;
  max-width: 100px; 
}
button:hover{
  background-color: #1bb81b;
  color: white;
}
input{
  height: 35px;
  width: 45%;
  /* border-radius: 14px; */
  margin: 5px;
  font-size: 10px;
  padding-left: 5px;
  padding-right: 5px;
  outline: none;
  
}
input:placeholder-shown{
  font-size: 15px;
}
input:focus{
  background-color: #ffffff;
  color:  #1bb81b;
  height: 35px;
  font-size: 18px;
  /* font-weight: bold; */
}


.App-header,.as{
  background-color: #fdfdfd;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  /* align-items: center; 
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: rgb(27, 15, 15);
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes App-log-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

  @media all and (min-width: 1024px) and (max-width: 1800px){
    .as{
      background-color: #d4d0b8;
      display:flex;
      border:ridge ;
      justify-content: center;

      padding-left: 25%;
      padding-right: 25%;
    }
    .ui card{
      width:800%;
    }
  }
  @media all and (min-width: 800px) and (max-width: 1024px){
    .as{
      background-color: #bed1e0;
      display:flex;
      border:ridge ;
      justify-content: center;

      padding-left: 10%;
      padding-right: 10%;
    }
  }
  @media all and (min-width: 100px) and (max-width: 800px){
    .as{
      background-color: #e8ece885;
      display:flex;
      border:ridge ;
      justify-content: center;

      /* padding-left: 13%;
      padding-right : 10%; */
    }
    .ui card{
      width:350%
    }
  }
